#sankey {
  width: 100%;
  height: 600px;
  margin: auto;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: 0.2;
}

.link:hover {
  stroke-opacity: 0.5;
}

.node rect {
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  fill: #000;
  font: 10px sans-serif;
}

